<!DOCTYPE html>
<html>
  <head>
    <title>Code4OSM</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>

    <!-- Bootstrap stuff -->
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="screen" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css"/>

    <!-- for code highlighting -->
    <link rel="stylesheet" type="text/css" href="<%= topdir %>/static/coderay.css"/>

    <!-- local stuff -->
    <link rel="stylesheet" type="text/css" href="<%= topdir %>/static/code4osm.css"/>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top c4-docs-nav" role="banner">
      <div class="container">
	<div class="navbar-header">
	  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".c4-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a href="<%= topdir %>/" class="navbar-brand">Code4OSM</a>
	</div>
	<nav class="collapse navbar-collapse c4-navbar-collapse" role="navigation">
	  <ul class="nav navbar-nav">
	    <% projects.each do |project| %>
            <li>
              <a href="<%= topdir %>/<%= project['name'] %>/"><%= project['title'] %></a>
            </li>
	    <% end %>
	  </ul>
	</nav>
      </div>
    </header>

    <div class="jumbotron">
      <div class="container">
        <h1>Witty title here</h1>
        <p>OSM, the <a href="http://osm.org/">OpenStreetMap</a> project, is the world's best free 
	  and open source of geographic data, maintained and improved by thousands of contributors
	  worldwide. This site brings together resources to help you develop applications using
	  this great data, tools for contributing to the project and infrastrucure components
	  which keep it running.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="#essentials">Get Started &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
	<% projects.each do |project| %>
        <div class="col-md-4">
          <h2 id="<%= project['name'] %>"><%= project['title'] %></h2>
          <%= project['summary_html'] %>
          <p><a class="btn btn-default" href="<%= project['name'] %>/" role="button">Learn more &raquo;</a></p>
        </div>
	<% end %>
      </div>
    </div>

    <footer class="c4-footer" role="contentinfo">
      <div class="container">
	<p>Code4OSM is developed on GitHub: <a href="https://github.com/zerebubuth/code4osm.org">Fork Me</a> or <a href="https://github.com/zerebubuth/code4osm.org/issues">Report a problem</a>.</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
